@font-face {
	font-family: SourceSansPro;
	src: url(SourceSansPro-Regular.ttf);
}

 .clearfix:after {
	content: "";
	display: table;
	clear: both;
}

a {
	color: #0087C3;
	text-decoration: none;
}

body {
	position: relative;
	width: 21cm;
	height: 29.7cm;
	margin: 0 auto;
	color: #555555;
	background: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-family: SourceSansPro;
}

header {
	padding: 10px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #AAAAAA;
	background-color: #253979;
	height: 63px;
}

#logo {
	float: left;
	margin-top: 8px;
	margin-left: 20px;
}

#logo img {
	width: 193px;
	height: 47px;
}

.headerRight {
	margin-right: 10px;
}

#company {
	float: right;
	text-align: right;
	margin-right: 20px;
	color: #FFFFFF;
}

#details {
	margin-bottom: 50px;
}

#client {
	padding-left: 6px;
	border-left: 6px solid #0087C3;
	float: left;
}

#client .to {
	color: #777777;
}

h2.name {
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
}

#invoice {
	float: right;
	text-align: right;
}

#invoice h1 {
	color: #0087C3;
	font-size: 2.4em;
	line-height: 1em;
	font-weight: normal;
	margin: 0 0 10px 0;
}

#invoice .date {
	font-size: 1.1em;
	color: #777777;
}

#thanks {
	font-size: 2em;
	margin-bottom: 50px;
}

#notices {
	padding-left: 6px;
	border-left: 6px solid #0087C3;
}

#notices .notice {
	font-size: 1.2em;
}

footer {
	color: #777777;
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #AAAAAA;
	padding: 8px 0;
	text-align: center;
}

.claimInfo {
	border: 1px solid black;
	border-radius: 10pt;
	width: 40%;
	height: auto;
	padding-left: 10px;
	padding-bottom: 20px;
	float: left;
	margin-left: 10px;
}

.policyInfo {
	border: 1px solid black;
	border-radius: 10pt;
	float: right;
	height: auto;
	width: 52%;
	margin-right: 10px;
}

.claim-info {
	margin-top: 10px;
	border: 1px solid black;
	border-radius: 10pt;
	float: left;
	height: auto;
	width: 97%;
	margin-left: 10px;
	padding-bottom: 15px;
}

.mapdiv {
	margin-top: 10px;
	border: 1px solid black;
	border-radius: 10pt;
	float: left;
	height: auto;
	width: 97%;
	margin-left: 10px;
}

.financial-assesment {
	margin-top: 10px;
	border: 1px solid black;
	border-radius: 10pt;
	float: left;
	height: auto;
	width: 97%;
	margin-left: 10px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

.lg-td {
	text-align: left;
	padding: 16px;
	width: 25%;
	border-left: solid 1px;
}

.sm-td {
	text-align: left;
	padding: 16px;
	width: 100%;
	border-left: solid 1px;
}

tr:nth-child(even) {
	background-color: #ededed;
}

.surface-image-details {
	/* margin-top: 10px; */
	/* border: 1px solid black; */
	/* border-radius: 10pt; */
	float: left;
	height: auto;
	width: 97%;
	margin-left: 10px;
	/* padding-bottom: 15px; */
}

.download-button {
	margin-top: 10px;
	/* border: 1px solid black;
  border-radius: 10pt; */
	float: left;
	height: auto;
	width: 97%;
	margin-left: 10px;
}

.page-break {
	page-break-after: always;
}

.next-page {
	page-break-before: always
}

td:empty::before {
	content: "No Data"
}